BODY{
  background: url(../otavio0409/img/jujuts.jpg);

}
header {
  background-color: #f75308;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #0e0d0d;
  padding: 10px 15px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #ddd;
}
.cor{
  background-color: #7a8beb;
}